<div class="page-view">
  <mat-card *ngFor="let order of orders" class="card-user">
    <mat-card-content>

      <p class="p-name">{{ order.date }} </p>
      <p class="p-name">Name: {{ order.customer.name }} </p>
      <p class="p-text">Address: {{ order.customer.address }}</p>
      <p class="p-text">Email: {{ order.customer.email }}</p>
      <p class="p-text">Phone: {{ order.customer.phone }}</p>
      <p class="p-text">Status: {{ order.status }}</p>
      <p class="p-text">Order id: {{ order.id }}</p>

      <div style="display: flex" *ngFor="let item of order.itemList">
        <img [src]="item.image" class="img-preview"/>

        <div>
          <p class="lbl-title-details">Title: {{ item.title }}</p>
          <p class="lbl-description-details ">Description: {{ item.description }}</p>
        </div>
        <div class="div-spacer"></div>
        <div style="display: contents">
          <p class="lbl-price">{{ item.price }} RON</p>
        </div>
      </div>

      <p class="p-total">Total: {{order.total}}</p>

      <div class="div-admin-controls">
        <button mat-raised-button color="accent" class="btn-action" (click)="onDelete(order)">Delete</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

