.card-item {
  width: 30%;
  margin: 16px;
}

.image {
  width: auto;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.page-view {
  display: flex;
  flex-wrap: wrap;
}

.div-controls {
  display: flex;
}

.btn-buy {
  margin-left: auto;
}

.div-admin-controls {
  display: grid;
}

.p-title {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-top: 16px;
}

.p-description {
  font-size: 14px;
  font-style: italic;
}

.p-price {
  font-weight: bold;
}
