<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">

    <div class="div-logo">
      <img class="img-logo"
           src="https://logowik.com/content/uploads/images/t_samsung9636.jpg"/>
    </div>
    <mat-card class="card-menu-button">
      <mat-card-content>
        <p>Adrian Ionescu</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" *ngIf ="isUserAdmin()" (click)="onDashboard()">
      <mat-card-content>
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" (click)="onLogOut()">
      <mat-card-content>
        <p>Logout</p>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Galaxy Gadget World</span>
      <span class="example-spacer"></span>
      <app-cart-button></app-cart-button>
    </mat-toolbar>
    <img class="img-banner"
         src="https://images.samsung.com/ro/galaxy-tab-s9/feature/galaxy-tab-s9-kv-pc.jpg"/>
    <img class="img-banner"
         src="https://images.samsung.com/ro/galaxy-watch6/feature/galaxy-watch6-kv-pc.jpg"/>
    <img class="img-banner"
         src="https://images.samsung.com/ro/smartphones/galaxy-s24-ultra/images/galaxy-s24-ultra-highlights-s-pen-tb.jpg?imbypass=true"/>
    <app-list-items [isAdmin]="false"></app-list-items>
  </div>

</mat-drawer-container>
